/*import*/
@import url("font-awesome.min.css");
/*defaults*/

body, p {
	font-family: 'Lato', sans-serif;
	color: #444749;
}
h1, h2, h3, h4, h5, h6, .system-message h1, .system-error-message h1, strong, b {
	color: #444749;
	margin-bottom: 1.25rem;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}
span.error:empty, small.error:empty {
	display: none;
}
.system-message, .system-error-message {
	background: none;
	border: none;
	margin: 0;
	color: #444749;
	padding: 0;
}

p {
	font-size: 15px;
}
p.lead {
	font-size: 17px;
	margin-bottom: 3rem;
}
p.testimonial{color: white;font-size: 18px;}
.client-name{line-height: -10px;}
.system-message h1, .system-error-message h1 {
	font-size: 36px;
}
h1, h2 {
	line-height: 120%;
}
h1 {
	font-size: 64px;
}
h2, h6, .color {
	color: #0b359a;
}
h4 {
	text-transform: uppercase;
}
a, a:visited {
	color: #0b359a;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited {
	color: #444749;
}
a:hover, a:focus, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus {
	color: #ee5871;
}
input[type="text"], textarea, select {
	font-family: 'Lato', sans-serif;
}
input[type="text"], input[type="email"], input[type="password"], input[type="submit"], texarea, select, button {
	border-radius: 3px;
	height: auto;
	padding: 10px 13px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="submit"], texarea, select {
	background: #fff;
}
label, input[type="text"], input[type="email"], input[type="password"] {
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	font-style: normal;
}
textarea {
	border-radius: 3px;
	padding: 10px 13px;
}
ul li {
	font-size: 14px;
	margin-bottom: 10px;
}
.flex-video {
	margin-bottom: 2rem;
	
    padding-top: 0;
	 padding-bottom: 132.5%;
}
/*buttons*/
.button, button, input[type="submit"], a#catshopbuy:link, a#catshopbuy:visited {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	background: none;
	letter-spacing: 1px;
	background: #0b359a;
	color: #fff;
	border-radius: 3px;
}
.button.secondary, button.secondary {
	background: #fff;
	border: 1px solid #0b359a;
	color: #0b359a;
}
button:hover, .button:hover, button:focus, .button:focus, input[type="submit"]:hover, input[type="submit"]:focus {
	background: #0b359a;
	color: #fff;
	transition-duration: 0.5s;
}
.button.secondary:hover, button.secondary:hover {
	border: 1px solid #ee5871;
	background: #fff;
	color: #ee5871;
}
button:visited, .button:visited {
	color: #fff;
}
.button.secondary:visited, button.secondary:visited {
	color: #0b359a;
}
input[type="submit"] {
	padding: 15px 20px;
	border: none;
	cursor: pointer;
}
/*header*/
header {
	position: relative;
	z-index: 1000;
	width: 100%;
}
.contain-to-grid, .top-bar, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button), .contain-to-grid, .top-bar, .top-bar-section li:not(.has-form) a:not(.button), .top-bar.expanded .title-area {
	background: none;
}
.top-bar .toggle-topbar.menu-icon {
	top: 0;
	margin-top: 5px;
	font-family: 'Lato', sans-serif;
}
.top-bar.expanded .toggle-topbar a {
	color: #444749;
}
.top-bar-section ul li {
	padding: 0;
	margin: 0;
}
.contain-to-grid .top-bar {
	top: 25px;
}
.top-bar-section ul {
	float: right;
}
.top-bar-section .has-dropdown > a:after {
	border-color: rgba(0, 0, 0, 0.4) transparent transparent;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
	color: #0b359a;
	background: none;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: none repeat scroll 0 0 #0b359a;
}
.top-bar-section ul li > a {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #444749;
	transition-duration: 0.2s;
}
.top-bar-section li:not(.has-form) a:hover:not(.button) {
	background: #0b359a;
}
.top-bar-section .dropdown li:not(.has-form) a:not(.button), .top-bar-section .dropdown li.active:not(.has-form) > li a:not(.has-form) a:not(.button) {
	background: rgba(255,255,255,0.92);
	border-radius: 0;
}
.top-bar-section .dropdown li:not(.has-form) a:not(.button) {
	color: #444749;
}
.top-bar-section .dropdown li.active:not(.has-form) a:not(.button), .top-bar-section .dropdown li.active:not(.has-form) .dropdown li.active:not(.has-form) a:not(.button) {
	background: #0b359a;
}
.top-bar-section .dropdown li:not(.has-form) a:hover:not(.button) {
	background: #0b359a;
}
.top-bar .name {
	max-width: 232px;
	margin-top: -5px;
	margin-left: 0.9375rem;
}
.top-bar-section .has-dropdown li > a {
	font-size: 14px;
	font-weight: 300;
}
.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
	color: rgba(255, 255, 255, 0.4);
}
.top-bar-section ul li:hover:not(.has-form) > a {
	background: #0b359a;
}
.top-bar-section .dropdown {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
}
.top-bar-section .dropdown li:last-child {
	border-radius: 0 0 3px 3px;
	overflow: hidden;
}
.contain-to-grid {
	padding: 0px 0 55px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0 ); /* IE6-9 */
box-shadow:0 0 5px rgba(0,00,0,0.15);
}
.top-bar .toggle-topbar.menu-icon a span:after, .top-bar .toggle-topbar.menu-icon a span:hover:after {
	box-shadow: 0 0 0 1px #444, 0 7px 0 1px #444, 0 14px 0 1px #444;
}
.utility-nav {
	background: #0b359a;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	margin: 0;
	padding: 5px 0 0;
}
.utility-nav ul, .utility-nav ul li {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.utility-nav li {
	float: left;
}
.utility-nav li span {
	margin-right: 5px;
	color: #fff;
}
.utility-nav li a {
	font-size: 13px;
	font-weight: 500;
	color: #fff;
	padding: 5px;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.utility-nav li:hover > a, .utility-nav li:hover > a span {
	color: #f3f3f3;
}
.shopping-cart {
	color: #fff;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	position: relative;
	top: 2px;
    padding:0 5px;
}
a.cartSummaryLink, .shopping-cart a {
	color: #fff;
}
.utility-nav .uty0, .utility-nav .uty1 {
	display: none;
}
table.cartSummaryTable {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	margin: 0px 0 0 20px;
}
td.cartSummaryItem {
	color: #fff;
	font-size: 13px;
	padding: 0;
}
.wait-time {
	padding: 0 10px;
	color: #fff;
	font-weight: bold;
}
.wait-time span {
	border-radius: 90rem;
	display: inline-block;
	background: #fff;
	color: #696969;
	margin: -3px 0 2px 10px;
	padding: 5px 15px;
}
.wait-time span.fa {
	margin: 0;
	padding: 0px;
}
/*pricing tables*/
.pricing-table {
	border: 2px solid #0b359a;
	margin-bottom: 30px;
}
.pricing-table .title {
	background: #0b359a;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 21px;
	padding: 30px 15px;
}
.pricing-table .title a {
	color: #fff;
}
.pricing-table .price {
	background: none;
	font-family: 'Lato', sans-serif;
}
.pricing-table .price p.small {
	margin-bottom: 10px;
}
/*side-nav*/
.side-nav {
	background: url(images/sidebar-bg.jpg) no-repeat;
	border-left: 1px solid #dedede;
	margin-bottom: 30px;
	margin-top: 0;
	padding: 0;
}
.side-nav li {
	margin-bottom: 0;
}
.side-nav li a:not(.button) {
	color: #444749;
	font-family: "Lato", sans-serif;
	font-size: 17px;
	padding: 14px 25px;
}
.side-nav li.side-nav-title a:not(.button) {
	color: #0b359a;
	font-weight: 500;
}
.side-nav li a:hover:not(.button), .side-nav li a:focus:not(.button), .side-nav li.active > a:first-child:not(.button) {
	color: #fff;
	background: #0b359a;
	font-family: 'Lato', sans-serif;
}
.side-nav li a:hover:not(.button):before, .side-nav li a:focus:not(.button):before, .side-nav li.active > a:first-child:not(.button):before {
	border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
}
.side-nav li.side-nav-title a:not(.button), .side-nav li.side-nav-title a:hover:not(.button) {
	background: none repeat scroll 0 0 #525252;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}
/*search*/
.search-container {
	display: none;
	padding: 30px 0 0;
}
.search form, .search form input[type="submit"] {
	margin: 0;
}
.search input[type="text"] {
	color: #444;
	height: auto;
	margin: 0 0 5px 15px;
	padding: 5px 10px;
	position: relative;
	width: 230px;
	border: none;
}
.search form input[type="submit"] {
	position: absolute;
	right: 20px;
	top: 5px;
	padding: 0;
	border: none;
	background: none;
	color: #ccc;
	overflow: hidden;
	display: inline-block;
	font-family: FontAwesome;
	font-size: inherit;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-rendering: auto;
}
/*slider*/


.slick-slider {
	margin: 0;
	overflow: hidden;
}
.slick-slide img {
	width: 100%;
	bottom: 150px;
    position: relative;
}
.slide-description {
	position: absolute;
	width: 100%;
	margin-top: 100px;
	z-index: 1;
}
.slick-dots {
	bottom: 0px;
}
.slick-dots li button:before {
	color: #fff;
	opacity: 1;
}
.slick-dots li.slick-active button:before {
	color: #0b359a;
}
.slick-dots li button:before {
	font-size: 13px;
}
.slide-description span {
	color: #c87492;
	font-size: 46px;
	float: left;
	margin: 0 15px 30px 0;
}
.slide-description h1, .slide-description h2 {
	color: #fff;
	margin-bottom: 10px;
}
.slide-description h2 {
	float: left;
	text-align: left;
	font-size: 30px;
	margin-bottom: 30px;
}
.slide-description h2 em {
	font-style: normal;
	text-transform: none;
	white-space: nowrap;
}
/*title-cta*/
.title-cta {
	position: relative;
	    height: 400px;
    overflow: hidden;
}
.title-headline {
	padding: 80px 0 30px;
	position: absolute;
	width: 100%;
}
.title-cta img {
	width: 100%;
}
.title-headline h2, .title-headline h3 {
	color: #fff;
}
.title-headline h2 {
font-size:40px;}
.title-headline h3 {
	font-size: 20px;
	font-weight: normal;
}
/*section main*/
section.main {
	padding: 50px 0;
}
.feature-image {
	margin: 15px 0;
	width: 100%;
}
/*section features*/
section.features {
	padding: 80px 0;
	text-align: center;
}
section.features h4 {
	margin: 0;
}
section.features span {
	background: none repeat scroll 0 0 #0b359a;
	border-radius: 90em;
	color: #fff;
	font-size: 70px;
	height: 140px;
	line-height: 140px;
	margin: 0 15px 15px 0;
	text-align: center;
	transition-duration: 0.5s;
	width: 140px;
}
section.features span:hover {
	color: #f6e2e5;
}
/*section cta*/
section.cta {
	padding: 60px 0 80px;
	background: url(../img/cta-bg.jpg) no-repeat center top;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) inset;
}
section.cta2 {
	padding: 40px 0 80px;
	background: url(../img/cta-bg2.jpg) no-repeat center;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) inset;
}
section.cta .button {
	margin: 0;
}
.section-title {
	margin-bottom: 50px;
}
.section-title span {
	float: left;
	font-size: 28px;
}
.section-title h3 {
	margin-left: 45px;
	position: relative;
	top: -7px;
}
/*services*/
.service-item {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
   text-align:center;
    padding: 15px;
	margin-bottom:30px;
}
.service-item .image {
 border-radius: 90em;
    height: 180px;
    margin: auto;
    max-width: 180px;
    overflow: hidden;
    width: 100%;
	margin-bottom:15px;	
}
/*find-doctor*/
section.find-doctor {
background:url(images/find-bg.jpg) no-repeat top center;
padding:150px 0;	
}
.find-form {
background:rgba(255,255,255,0.75);
padding:50px 80px 30px;	
}
.find-form h2{
text-align:center;
color:#0b359a;

font-size:54px;	
margin-bottom:40px;
}
.tabs dd > a, .tabs .tab-title > a {color: #444749;
    font-family: "Lato",sans-serif;
    font-size: 19px;
	border-radius:3px 3px 0 0;
	background:none;
	font-weight:600;
}
.tabs dd.active a, .tabs .tab-title.active a {
    background-color: #0b359a;
    color: #fff;
}
.tabs-content {
	 background-color: #0b359a;
	 border-radius:0 3px 3px 3px;
	 padding:15px 30px 0;
}
.tabs-content a {
color:#fff;}
.find-form input[type="text"]{
 border: medium none;
    border-radius: 3px;
    font-size: 16px;
    height: 50px;
    padding: 15px;
    position: relative;
}
.find-form input[type="submit"], .find-form input[type="submit"]:hover, .find-form input[type="submit"]:focus, .find-form select{
	border-radius: 3px;
	border:none;
}
.find-form label {
color:#fff;	
}
#basic  input[type="text"] {
	 border-radius: 3px  0 0 3px;
}
#basic input[type="submit"]{
background: none repeat scroll 0 0 #fafafa;
    border-left: 1px solid #dbdbdb;
    border-radius: 0 3px 3px 0;
    color: #0b359a;
    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 50px;
	line-height:50px;
	font-size:24px;
    padding: 0;
	width:100%;
}
/*results*/
.staff ol {margin:0;padding:0;
list-style:none;counter-reset: li;}
.staff-item {
	border:1px solid #e6e6e6;
	padding:15px;
	margin-bottom:15px;
	margin-left:10px;
	
	
	list-style:none;
}
.staff ol li {position:relative;
}
.staff ol li:before {
 background-color: #0b359a;
    box-sizing: border-box;
    color: #fbf6f6;
    content: counter(li, decimal);
    counter-increment: li;
    font-size: 21px;
    font-weight: 400;
    height: 40px;
    left: -10px;
    line-height: 40px;
    margin-right: 8px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 40px;

}
.staff-item .image {
border-radius:90em;
overflow:hidden;
width:125px;
height:125px;
border:1px solid #69b0c4;	margin:10px 0 0 10px;	
}
.staff-item h5 {
color:#69b0c4;
}
.staff-item h5, .staff-item em {
	margin:15px 0 5px;	
	display:block;

}

.staff-item .rating {
font-size:13px;	
}
.staff-item .rating span {
	color:#fab117;
}
.staff-item .rating span:last-child{
margin-right:5px;	
}
.staff-detail .image {
background:#efefef;
padding:15px;
text-align:center;
border-radius:3px;	
}
.staff-detail .image img{
width:100%;	
margin-bottom:15px;
border:3px solid #fff;
}

.staff-detail .image ul{
text-align:left;
list-style:none;
margin:0;
padding:0;	
}
.staff-detail .image ul li{
margin:0;
padding:5px 0;	
}
.staff-detail .tabs-content, .staff-detail .tabs dd.active a, .tabs .tab-title.active a {
    background-color: #fff;
    border: 1px solid #efefef;
	color:#444749;
}
.staff-detail .tabs dd.active a, .tabs .tab-title.active a {
border-bottom-color:#fff;margin-bottom: -1px;	
}
.staff-detail  .tabs-content a {
    color: #0b359a;
}
.staff-detail .tabs dd > a, .tabs .tab-title > a {
color: #0b359a;}
/*events section*/
section.events {
	padding: 50px 0;
}
.event-item {
	background: rgba(255,255,255,0.9);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	padding: 20px 30px;
	border-top: 5px solid #0b359a;
	margin-bottom: 30px;
}
.event-image {
	margin-bottom: 30px;
	position: relative;
}
.event-date {
	background: none repeat scroll 0 0 #0b359a;
	bottom: 30px;
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 24px;
	height: 75px;
	margin: 0;
	padding-top: 18px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 75px;
	z-index: 1;
}
.event-details ul {
	list-style: outside none none;
	margin: 0;
}
.event-date span {
	display: block;
	line-height: 100%;
}
.event-date span.month {
	font-size: 16px;
}
.event-item h3 {
	text-align: center;
	font-weight: 100;
}
.event-item-detail {
	background: url(http://www.clementcompanies.com/_assets/css/images/dashed-bg.jpg) repeat-x bottom;
	margin-bottom: 30px;
}
.event-item-detail h3 {
	margin-bottom: 5px;
}
.event-details {
	line-height: 18px;
	color: #99918e;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 10px;
}
.dash {
	width: 30px;
	height: 1px;
	background: #0b359a;
	margin: 20px auto;
}
.event-item p {
	font-size: 13px;
}
/*announcements*/
.news-item {
	margin-bottom: 30px;
}
.news-item img {
	margin-bottom: 30px;
}
.news-item h5, .news-item h5 a {
	margin-bottom: 5px;
	font-weight: 600;
	color: #0b359a;
}
.news-details {
	line-height: 18px;
	color: #99918e;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 10px;
}
/*faq*/
.faq-question a {
	color: #444749;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}
.faq-details {
	padding-top: 30px;
	background: url(http://www.clementcompanies.com/_assets/css/images/dashed-bg.jpg) repeat-x bottom;
	margin-bottom: 50px;
	padding-bottom: 20px;
}
.faq-details a {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	text-transform: none;
	font-weight: normal;
	color: #0b359a;
}
.faq-icon {
	background: none repeat scroll 0 0 #525252;
	border-radius: 90em;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 600;
	height: 30px;
	width: 30px;
	margin: 0 15px 17px 0;
	padding-top: 7px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	top: -5px;
	line-height: 100%;
}
.faq-icon.answer {
	background: #0b359a;
}
/*testimonials section*/
section.testimonials {
	padding: 50px 0 0 0;
	
	background-color: #1e489d;
}
.quote-icon {
	background: url(http://www.clementcompanies.com/_assets/css/images/quote-icon.png) no-repeat center;
	height: 80px;
	width: 80px;
	margin: 0 auto;
	display: block;
}
.testimonial-slider {
	text-align: center;
	color: #fffefe;
}
.testimonial-slider h2 {
	font-weight: 300;
	font-size: 26px;
	margin-bottom: 0;
	padding: 50px 50px 30px;
	color: #fffefe;
}
.testimonial-slider h4 {
	font-weight: 300;
	color: #fffefe;
}
.testimonial-slider .image {
	height: 80px;
	width: 80px;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	border-radius: 90em;
}
.testimonial-slider .image img {
	overflow: hidden;
	border-radius: 90em;
}
.slick-prev, .slick-next {
	height: 60px;
	width: 30px;
	margin-top: -50px;
}
.slick-next {
	right: 0;
}
.slick-prev {
	left: 0;
}
.slick-prev:before, .slick-next:before {
	font-size: 68px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-weight: 300;
}
.slick-next:before {
	content: "›";
}
.slick-prev:before {
	content: "‹";
}
/*page-title*/
section.page-title {
	overflow: hidden;
	position: relative;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 86%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(86%, #ffffff), color-stop(100%, #f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 86%, #f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 86%, #f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 86%, #f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 86%, #f9f9f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9', GradientType=0 ); /* IE6-9 */
	box-shadow: 0 5px 5px rgba(0,0,0,0.15);
	padding: 0px 0 15px;
}
section.page-title h1 {
	font-size: 40px;
}
.row.page-headline {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
}
/*breadcrumps-container*/
.breadcrumps-container {
	padding: 30px 0 0px;
}
/*about*/
.address-details span.fa {
	margin: 5px 5px 0 0;
	color: #0b359a;
	float: left;
}
.address-details h6 {
	margin: 0 0 5px;
}
p.literature-container span.icon, p.literature-container span.name {
	margin: 0 3px 0 0;
	font-family: 'Lato', sans-serif;
}
p.literature-container img {
	vertical-align: middle;
}
/*responsive photogallery */
#photogalleryTable {
	margin-bottom: 30px;
}
#photogalleryTable img {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
	margin-bottom: 30px;
	padding: 3px;
	transition-duration: 0.2s;
	width: 100%;
}
#photogalleryTable img:hover {
	opacity: 0.8;
}
/*section map*/
section.map, section.map .flex-video, section.map .flex-video iframe {
	height: 350px;
	overflow: hidden;
}
/*footer*/
footer {
	background: #0b359a;
	padding: 50px 0 30px;
	text-align: center;
}
footer h4 {
	color: #fff;
	margin-bottom: 3rem;
}
footer p, footer div.copy {
	color: #fff;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	line-height: 20px;
}
footer div.copy a {
	margin: 0 15px 15px 0px;
	color: #eec7cd;
	transition-duration: 0.5s;
}
footer div.copy a:hover {
	color: #fff;
}
footer .vcard {
	border: medium none;
	color: #98958B;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
footer .vcard .fa {
	margin-right: 5px;
}
.social-icons a {
	font-size: 24px;
	margin: 0 15px 15px 0;
	border-radius: 90em;
	background: #fff;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #0b359a;
	transition-duration: 0.5s;
}
.social-icons a:hover {
	color: #eec7cd;
}
/*module defaults*/
.tabs-content.vertical {
	width: 100%;
}
.flex-video {
	margin-bottom: 2rem;
}
form label {
	text-align: left;
	margin: 0 0 10px;
	display: block!important;
}
form br {
	display: none;
}
form label input, form label textarea, .contact form input[type="submit"] {
	margin: 5px 0!important;
}
.booking-list {
	border-bottom: 1px solid #eeeeee;
	margin: 0 0 9px;
	padding: 10px 0 15px;
}
.side-panel ul {
	margin: 0 0 30px;
	padding: 0;
}
.side-panel ul li {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
	list-style: none outside none;
	margin: 0 0 10px;
	padding: 0 0 10px;
}
.blog-post {
	margin-bottom: 50px;
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #dbdbdb;
	padding: 15px;
	border-radius: 3px;
}
.blog-post .post-body, .blog-post .post-body .button {
	margin: 0;
}
.blog-post h3.post-title {
	margin: 0;
	padding: 10px 0 15px;
	text-align: left;
	font-size: 20px;
}
.blog-post h3.post-title.blog-detail {
	font-size: 30px;
}
.blog-image img {
	width: 100%;
	margin-bottom: 10px;
}
.blog-post.blog-list .blog-image img {
	margin-bottom: -10px;
}
.blog-details {
	display: block;
	font-size: 15px;
	margin: 0 0 15px;
	width: 100%;
	color: #0b359a;
}
.blog-details span {
	margin-left: 10px;
	color: #0b359a;
}
.blog-details span:first-child {
	margin-left: 0;
}
.blog-post .post-details {
	margin-top: 10px;
}
.blog-post .links {
	font-size: 13px;
	font-family: 'Lato', sans-serif;
}
.blog-details div {
	border-radius: 3px;
	color: #666666;
	float: left;
	font-size: 13px;
	margin-bottom: 10px;
	margin-right: 20px;
	padding: 15px 0;
}
.post-body.blog-detail img {
	margin-bottom: 20px;
}
.blog-details div i {
	margin-right: 5px;
}
.blog-aside {
	margin-bottom: 30px;
}
.side-panel h4 {
	font-weight: 400;
	font-size: 14px;
}
.side-panel ul li a {
	font-size: 14px;
}
.BlogTagCloud a {
	background: none repeat scroll 0 0 #f7f7f7;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-family: 'Tahoma', sans-serif;
	font-size: 13px;
	margin: 0 5px 10px 0;
	padding: 5px 10px;
}
.productItem .image, .productItemLast .image {
	margin-bottom: 20px;
}
.productItem .image, .productItemLast .image {
	padding-top: 0px;
}
.productList, .productList ul, .catalogueList {
	margin: 0;
	overflow: hidden;
	padding: 0 !important;
}
.productList li, .catalogueList li {
	display: inline;
	list-style-type: none;
}
.catalogueList li {
	display: inline-block;
	float: left;
	list-style-type: none;
	margin: 0 30px 30px 0;
	width: 25%;
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	display: inline-block;
	overflow: hidden;
	padding: 8px 8px 18px;
}
.catalogueList li .image {
	margin-bottom: 20px;
}
.catalogueList li img {
	width: 100%;
	transition-duration: 0.5s;
}
.productSmall .image img {
	border: medium none;
	box-shadow: none
}
.productList li img {
	transition-duration: 0.5s;
}
.catalogueList li img:hover, .productList li img:hover {
	opacity: 0.8;
}
.productItem ul.product-details li {
	display: block;
	margin: 0;
}
.productList ul li {
	display: block;
}
li.price {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	margin: 0;
	font-weight: 700;
	color: #0b359a;
}
li.sale {
	text-decoration: line-through;
	margin-bottom: 10px !important;
}
li.name h5, .catalogueList h5 {
	font-weight: 700;
	font-size: 20px;
	margin: 0;
	font-family: 'Lato', sans-serif;
}
.catalogueList .catalogueItemNotFound {
	display: none;
}
.productLarge h1 {
	font-size: 25px;
	line-height: 130%;
	text-align: left;
}
.productLarge .image-large {
	margin-bottom: 30px;
}
.productAttributesContainer {
	padding: 15px 0;
	margin: 20px 0;
	border-top: 1px dashed rgba(0,0,0,0.15);
	border-bottom: 1px dashed rgba(0,0,0,0.15);
}
#productPoplets {
	margin-bottom: 30px;
}
#productPoplets .productPopletsItem {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	display: block;
	margin: 0 10px 0 0;
	padding: 15px;
}
li.productItem, li.productItemLast, td.productItem {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #dbdbdb;
	float: left;
	overflow: hidden;
	padding: 8px 8px 18px;
	border-radius: 3px;
	width: 25%;
	margin: 0 30px 30px 0;
}
li.productItemLast {
	margin-right: 0;
}
li.productItem .productSubmitInput, li.productItemLast .productSubmitInput, .productLarge td.productItem .productSubmitInput {
	font-size: 13px;
	margin: 0 auto;
}
.productLarge li.productItem {
	background: none;
	border: none;
	padding: 0;
	width: 100%;
}
.productLarge li.price {
	font-size: 40px;
}
.productLarge .productItem .productSubmitInput {
	font-size: 16px;
	margin: 0;
}
.productLarge li.price span {
	font-size: 20px;
	text-decoration: line-through;
	color: #b4b4b4;
}
.poplets {
	margin: 0;
	padding: 0;
	border: none;
}
.poplets img {
	border: none;
}
.wishlist-link {
	color: #0b359a;
	font-family: 'Lato', sans-serif;
	padding: 20px 0 30px;
	font-size: 12px;
}
.wishlist-link a {
	text-transform: uppercase;
}
.form-row {
	border-bottom: 1px solid #ededed;
	overflow: hidden;
	padding: 15px 0;
}
legend {
	font-weight: bold;
}
.info-section {
	float: left;
	width: 30%;
}
.info-section p {
	padding-right: 15px;
}
.form-section {
	float: left;
	width: 70%;
}
.form-detail {
	float: left;
	width: 250px;
}
.form-detail p {
	font-size: 12px;
}
.form-data {
	float: right;
	width: 450px;
}
#payment-form .form-detail {
	width: 255px;
}
#payment-form .form-data {
	width: 570px;
}
#payment-form label {
	width: auto;
}
#payment-form input.cat_textbox, #payment-form input.cat_listbox {
	margin-right: 20px;
	width: 92%;
}
#payment-form input.cat_textbox {
	border: 1px solid #999999;
	padding: 3px;
}
#payment-form select.cat_dropdown {
	margin-right: 20px;
	width: 258px;
}
input.cat_textbox.sm {
	width: 70px !important;
}
#payment-form input.short, #payment-form input.short, #payment-form select.short {
	width: 110px;
}
#payment-form input.purchase-amount {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	color: #222222;
	display: inline;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	width: 53px;
}
#purchase-total {
	background: none repeat scroll 0 0 #fafafa;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
	margin-bottom: 20px;
	padding: 10px;
}
.purchase-amount {
	box-shadow: none !important;
	float: none !important;
}
#purchase-total span {
	color: #999999;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
}
.cartrow {
	border: medium none;
	font-size: 13px;
	margin-left: 0 !important;
	text-transform: uppercase;
}
.cartlabel {
	float: left;
	font-weight: bold;
	padding-bottom: 3px;
	padding-top: 3px;
}
.cart-item {
	color: #333333;
	float: left;
	font-size: 13px;
	width: 10%;
}
.productitemcell {
	border-bottom: 1px solid #eeeeee;
	height: 115px;
	line-height: 20px;
	overflow: hidden;
	padding: 15px 0 0;
}
.product-image img {
	border: none;
	max-width: 75px;
}
.product-remove a:link, .product-remove a:visited {
	background: url("images/cart-remove.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	font-size: 0;
	height: 27px;
	line-height: 0;
	text-indent: -9999px;
	width: 25px;
}
.product-remove a:hover, .product-remove a:active {
	opacity: 0.8;
}
.cldetails {
	width: 46%;
}
.clprice, .cltax, .clcost, .clremove {
	width: 10%;
}
#catCartDetails .product-image {
	width: 13%;
}
.product-title {
	width: 33%;
}
.clqty, .product-qty {
	width: 14%;
}
.product-qty input.cartInputText {
	width: 60%;
}
.cart-opt {
	margin: 0;
	overflow: hidden;
	padding: 10px 0;
}
.cart-opt p {
	margin: 0 0 3px;
}
#cart-footer hr {
	margin: 3px 0;
}
#opt-total-container {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin: 0;
	overflow: hidden;
	padding: 20px;
}
.opt-total-data .productitemcell {
	border: medium none;
	height: auto;
	padding: 0;
}
.opt-total-data {
	display: block;
	margin-bottom: 5px;
	text-align: right;
}
.opt-total-data h3 {
	margin: 0;
}
select.shippingDropDown {
	width: 95%;
	height: auto;
}
.productitemcell {
	height: 135px;
}
input#DiscountCode, input#GiftVoucher {
	display: inline;
	max-width: 280px;
	width: 165px;
	height: 50px;
}
a#catshopbuy:link, a#catshopbuy:visited, .productSubmitInput {
	display: block;
	font-size: 16px;
	padding: 1em;
	text-align: center;
	text-shadow: none;
}
#catCartDetails fieldset, #catCartDetails table {
	border: medium none;
	padding: 1.25em 0;
}
table {
	background: none;
	border: none;
}
table h3 {
	font-size: 16px;
}
table tr.even, table tr.alt, table tr:nth-of-type(2n) {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
table.webform, table.reporting {
	border: medium none;
	background: none;
}
.reveal-modal {
	text-align: center;
}
.faq-question {
	position: relative;
}
.breadcrumbs {
	background: none;
	border: none;
	padding: 0;
	margin-bottom: 12px;
}
.breadcrumbs li {
	margin-bottom: 10px;
}
.breadcrumbs > * a {
	color: #0b359a;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: none;
}
.breadcrumbs > .current a {
	color: #5b6d7b;
}
ul.pagination li a {
	font-family: 'Lato', sans-serif;
}
ul.pagination li.current a {
	background: #0b359a;
}
ul.pagination li a, ul.pagination li button {
	border-radius: 0;
}
fieldset legend {
	background: none;
}
.iframe{
	width: 100%;
	height: 528px;
	border: none;
}
/*media queries*/
/*************media queries**************/
@media only screen and (min-width: 0) and (max-width: 640px) {
.top-bar .name {
	margin-top: 0px;
	max-width: 182px;
}
.top-bar-section .has-dropdown > a:after {
	border-color: transparent transparent transparent rgba(0, 0, 0, 0.4);
}
.wait-time {
	padding: 0;
}
.search {
	float: none!important
}
.wait-time span {
	margin: 0 0 10px;
}
.search input[type="text"] {
	width: 100%;
	margin: 0;
}
h1 {
	font-size: 2.125rem;
}
h2 {
	font-size: 1.6875rem;
}
h3, .testimonial-slider h3 {
	font-size: 1.375rem;
}
h4 {
	font-size: 1.125rem;
}
h5 {
	font-size: 1.125rem;
}
.utility-nav {
	padding: 5px 0 10px;
}
.top-bar-section ul {
	margin-top: 28px;
}
.slide-description {
	margin-top: 10px;
}
.slide-description h1 {
	font-size: 18px;
	line-height: 20px;
}
.slide-description span {
	font-size: 26px;
}
.slide-description h2 {
	font-size: 12px;
}
.slide-description .button {
	display: none;
}
.hero-slider .slick-dots {
	bottom: 0;
	margin: 0;
	text-align: center;
}
.work-item .work-hover a {
	font-size: 24px;
}
section.main, section.features, section.events, section.cta {
	padding: 20px 0;
}
section.features span {
	width: 90px;
	height: 90px;
	line-height: 90px;
	font-size: 42px;
}
.section-title {
	margin-bottom: 20px;
}
.section-title h3 {
	top: -3px;
}
footer {
	text-align: center;
	padding: 20px 0 10px;
}
footer p, footer div.copy {
	margin-bottom: 15px;
}
.social-icons {
	float: none;
}
.catalogueList li {
	width: 100%;
}
li.productItem, li.productItemLast, td.productItem {
	width: 100%;
}
section.find-doctor {padding: 20px 0;
}
.find-form {
padding: 20px;
}
.find-form h2 {
font-size:36px;}
.tabs dd, .tabs .tab-title {
    float: none;
}
.tabs dd > a, .tabs .tab-title > a { background-color: #efefef;   font-size: 14px;}
.staff-item {
text-align:center;}
.staff-item .image {
margin:10px auto;}
.title-headline {
    padding: 12px 0 30px;
    
}


.title-headline h2 {
    font-size: 20px;
    margin: 0;
}
.title-headline h3 {
    font-size: 12px;
}
}

@media only screen and (min-width: 480px) and (max-width: 640px) {
.slide-description {
	margin-top: 68px;
}
.slide-description h1 {
	font-size: 45px;
	line-height: 26px;
}
.slide-description h2 {
	font-size: 18px;
}
}
@media only screen and (min-width: 0) and (max-width: 768px) {

.staff-item .image {
width:90px;
height:90px;}
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
.top-bar .name {
	max-width: 170px;
	margin-top: 0;
}
.slide-description {
	margin-top: 65px;
}
.slide-description h1 {
	font-size: 38px;
	line-height: 46px;
}
.hero-slider .slick-dots {
	bottom: 20px;
	margin: 0;
	text-align: center;
}
li.productItem, .catalogueList li {
	width: 29%;
}section.find-doctor {
  
    padding: 100px 0;
}
.title-headline {
    padding:30px 0 ;
    
}.title-headline h2 {
    font-size: 21px;
    margin: 0;
}.title-headline h3 {
    font-size: 15px;
}
}

@media only screen and (min-width: 1025px) and (max-width: 1399px) {

.title-headline {
    padding:30px 0 ;
    
}



}

@media only screen and (min-width: 1400px) and (max-width: 1799px) {

.hero-slider .slick-dots {
	bottom: 0;
	margin: 0;
	text-align: center;
}
}
